<launch>
  <node name="line_extractor" pkg="laser_line_extraction" type="lle_node.py">
    <param name="~scan_topic" value="/scan" />
    <param name="~range_uncertainty_fraction" value="True" />
    <param name="~range_std_dev" value="0.01" />
    <param name="~bearing_std_dev" value="0.00001" />
    <param name="~min_range" value="0.2" />
    <param name="~outlier_dist" value="0.05" />
    <param name="~min_split_dist" value="0.05" />
    <param name="~min_line_length" value="0.5" />
    <param name="~min_line_points" value="9" />
    <param name="~max_line_gap" value="0.4" />
    <param name="~least_sq_angle_thresh" value="0.0001" />
    <param name="~least_sq_radius_thresh" value="0.0001" />
  </node>
</launch>

