<launch>
  <node name="line_extractor" pkg="laser_line_extraction" type="line_extraction_main" output="screen">
    <param name="~scan_topic" value="front_lidar/scan" />
    <param name="~frequency" value="50.0" />
    <param name="~publish_markers" value="true" />
    <param name="~least_sq_angle_thresh" value="0.0001" />
    <param name="~least_sq_radius_thresh" value="0.0001" />
  </node>
</launch>

